#management-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

#booking-requests {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
